*{
    font-family: Work Sans;
}

.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 200px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}
.hero-img{

    background-image: url("images/banner/banner1.png");
    height: 809px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin:0px;
    

}
.hreo-text{
    text-align: right;
    position: absolute;
    left: 845px;
    margin-right: 230px;
    bottom: 116px;
    
    
}
.hero-tittle{
    width: 525px;
    height: 228px;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align:justify right;
    
}
.hero-des{
    font-style: normal;
    margin-left: 31px;
    font-weight: 400;
    font-size: 16px;
    width: 494px;
    height: 78px;
    text-align:justify right;
    
}
/* main part */
.main-image{
    display: flex;
    gap: 87px;
    
}
.image{
    margin-left: 206px;
    margin-top: 131px;
    margin-bottom: 130px;

}
.img-description{
    text-align: justify left;
    width: 416px;
    height: 400px;
}

.img-tittle{
    margin-top: 370px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.igm-des{
    margin-top: 24px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}
.list-item{
    text-align: justify left;
    margin-left: -9%;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style: none;
  }

  .list-item> ul li:before {
    content: '✓';
    color: green;
  }
  /* plan-container */
  .plan-section{
    margin-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
    
  }
  .paln-tittle{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #151414;
  }
.my-plan{
    display: flex;
    justify-content: space-around;
    gap: 86px;
    margin-bottom: 131px;
    align-items: center;
    text-align: center;

}
.plan-t{
    margin-top: 24px;
    font-weight: 600;
    font-size: 25px;
    color: #151414; 
}
.plan-p{
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}
/* gradient-image */

.gradient-image{
    background-image: url("images/watch.png");
    margin-left: 230px;
    margin-right: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    justify-content: space-around;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 131px;
    
}
.bgimg{
    margin-left: 83px;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    width: 459px;
    height: 182px;
    
}
.button-secondery{
    color: #F3703D;
    font-size: 20px;
    font-weight: 200px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: white;
    
}
.video{
    display: flex;
    gap: 50px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
}

.footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #151414;
    height: 577px;
    color: #FFFFFF;
}
.footer-left{
    margin-left: 230px;
    width: 485px;
    height: 317px;
    text-align: left;
    
}
.tittle{
    color: #F8F8F8;
    font-size: 45px;
    font-weight:700;
}
.footer-content{
    margin-top: 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-weight: 17px;
}
.footer-right{
    margin-right: 230px;
    width: 325px;
    height: 204px;
    text-align: left;
    
}
.footer input{
    margin-top: 24px;
    padding: 5px;
    border: 1;
    display: grid;
}

